body{
    background-image: url(https://r4.wallpaperflare.com/wallpaper/908/34/383/lofi-digital-anthro-hd-wallpaper-89a078dd31ca7dbb360718bf6031660d.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
} 



.grid {
    border: 3px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 640px;
    flex-wrap: wrap;
}

.square{
    display: flex;
    box-sizing: border-box;
    border: 1px  solid  black;
}

.reset,.changeColor{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700; 
    background-color: rgba(0,100 ,100, 10%);
}

.reset:hover ,.changeColor:hover{
    background-color: rgb(255, 155, 0);
}

.square > * {
    flex-grow: 1 ;
}

/*.square:hover{
    background-color: grey;
}*/
